body{
    margin: 0px;
    padding: 0px;
}

#game-screen{
    display: block;
}

#gameOver{
    position: absolute;
    visibility: hidden;
}

h1, h2, h3{
    font-family: 'Monoton', cursive;
    color: #ff5722;
    text-align: center;
}

.title{
    font-size: 125px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton{
    border: 2px solid #ff5722;
    border-radius: 10px; 
}

#restartButton:hover {
    background-color: #ffd54f;
    color: #ff5722;
}

#scoreboard{
    margin: 0px;
    padding: 0px;
    position: absolute;
}

