body {
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}

#gameOver{
    position: absolute;
    visibility: hidden;
}

h1, h3{
    font-family: 'Monoton', cursive;
    color: #002663;
    text-align: center;
}